<header>
    <nav>
        <a href="/">Homepage</a>
        <a href="/about">About</a>
    </nav>
    <div class="top">
        <h1>Complimentree</h1>
        <p>Be nice to your favourite trees!</p>
    </div>   
</header>


@code {

}
