@rendermode InteractiveServer

<h2>Trees</h2>



<ul>
    @foreach (var tree in trees)
    {
        <li>
            <h3>@tree.Name</h3>
            <input @bind="tree.InputBox"/>

            <button @onclick="() => AddCompliment(tree.Id,tree.InputBox)">Compliment me!</button>
            <ul>
                @foreach (var compliments in tree.Compliments)
                {
                    <li>
                        <p>@compliments.Text</p>
                    </li>
                }
            </ul>
        </li>
    }

</ul>

@code {

@using Complimentree.DataModels;


    List<Tree> trees = new List<Tree>
    {
        new Tree(1, "Oakley", (12, 45), "Large", "Oak"),
        new Tree(2, "Willow Whisper", (30, 18), "Medium", "Willow"),
        new Tree(3, "Pine Prime", (7, 60), "Tall", "Pine"),
        new Tree(4, "Cherry Bloom", (25, 33), "Small", "Cherry Blossom"),
        new Tree(5, "Maple Majesty", (50, 10), "Medium", "Maple")
    };




    private void AddCompliment(int id , string text)
    {
        Tree tree = trees.FirstOrDefault(x => x.Id == id);
        int newId = tree.Compliments.Any() ? trees.Max(x => x.Id) + 1 : 1;
        string desc = string.IsNullOrEmpty(text) ? Compliment.GetCompliment() : text;
        Compliment compliment = new Compliment(newId, desc);

        tree.InputBox = "";
        tree.Compliments.Add(compliment);

    }



}
