<h2>Trees</h2>

<ul>
    @foreach (var tree in trees)
    {
        <li>
            <h3>@tree.Name</h3>
        </li>
    }

</ul>

@code {

@using Complimentree.DataModels;

	List<Tree> trees = new List<Tree>
    {
        new Tree
        {
            Id = 1,
            Name = "Oakley",
            Location = (12, 45),
            Size = "Large",
            Species = "Oak",
            Compliments = new List<Compliment>()
        },

        new Tree
        {
            Id = 2,
            Name = "Willow Whisper",
            Location = (30, 18),
            Size = "Medium",
            Species = "Willow",
            Compliments = new List<Compliment>()
        },

        new Tree
        {
            Id = 3,
            Name = "Pine Prime",
            Location = (7, 60),
            Size = "Tall",
            Species = "Pine",
            Compliments = new List<Compliment>()
        },

        new Tree
        {
            Id = 4,
            Name = "Cherry Bloom",
            Location = (25, 33),
            Size = "Small",
            Species = "Cherry Blossom",
            Compliments = new List<Compliment>()
        },

        new Tree
        {
            Id = 5,
            Name = "Maple Majesty",
            Location = (50, 10),
            Size = "Medium",
            Species = "Maple",
            Compliments = new List<Compliment>()
        }
    };



}
